# Unreal Engine
Binaries/
Intermediate/
Saved/
DerivedDataCache/
*.opensdf
*.sdf
*.suo
*.opendb
*.VC.db
*.log
*.dll
*.exe
*.pdb
*.bak
*.cache
*.ilk
*.exp
*.lib
*.ipch
*.iobj
*.obj
*.o
*.rsp
*.user
.DS_Store
.vscode/
.vs/
